*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
main,
section,
div,
button,
header,
nav {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9eae1;

  /* Palette from https://coolors.co/palette/011627-fdfffc-2ec4b6-e71d36-ff9f1c */
  --piece-color-red: #e71d36;
  --piece-color-blue: #2ec4b6;
}
